<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<form action="/book/add/input/" method="post">
    {% csrf_token %}
    Name:<input type="text" name = "name"><br>
    Surname:<input type="text" name = "surname"><br>
    Patron:<input type="text" name = "patron"><br>
    Gender:<input type="radio" name = "gender" value="M">Man<br>
            <input type="radio" name = "gender" value="W">Woman<br>
    Number:<input type="text" name = "number"><br>
    Email:<input type="email" name = "email"><br>

    Street:<input type="text" name = "street"><br>
    City:<input type="text" name = "city"><br>

    Work1:<input type="text" name = "work1"><br>
    Work2:<input type="text" name = "work2"><br>

    <button type="submit">ADD</button>
</form>